<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="Data Source=ServerName;Initial Catalog=DatabaseName;Integrated Security=True" />
		<add key="LogLevel" value="Debug" />
		<add key="koko" value="Koko Value" />

	</appSettings>
	<connectionStrings>
		<add name="MyDbConnection"
			 connectionString="Server=.;Database=DVLD;User Id=sa;Password=NewStrongPassword"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>



</configuration>

